body {
  background: url('./asserts/background.png') no-repeat center center fixed;
  background-size: cover;
}

.App {
  text-align: center;
}

input {
  border: solid 2px rgb(93, 69, 226);
  border-radius: 3px;
}

button {
  border: solid 2px rgb(9, 6, 31);
  border-radius: 3px;
  background:rgb(79, 68, 146);
  color: rgb(233, 231, 248);
}

button:hover {
  background:rgb(201, 79, 79);
}

.content-item {
  border: solid 2px rgb(78, 55, 209);
  border-radius: 10px;
  padding: 20px;
}